In [12]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/spaceship-titanic/sample_submission.csv
/kaggle/input/spaceship-titanic/train.csv
/kaggle/input/spaceship-titanic/test.csv

In [13]:
train_data = pd.read_csv('/kaggle/input/spaceship-titanic/train.csv', index_col='PassengerId')
train_data.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
PassengerId,,,,,,,,,,,,,
0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [14]:
train_data.shape

(8693, 13)

In [15]:
del train_data['Name']
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8693 entries, 0001_01 to 9280_02
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8492 non-null   object
 1   CryoSleep     8476 non-null   object
 2   Cabin         8494 non-null   object
 3   Destination   8511 non-null   object
 4   Age           8514 non-null   float64
 5   VIP           8490 non-null   object
 6   RoomService   8512 non-null   float64
 7   FoodCourt     8510 non-null   float64
 8   ShoppingMall  8485 non-null   float64
 9   Spa           8510 non-null   float64
 10  VRDeck        8505 non-null   float64
 11  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(5)
memory usage: 823.5+ KB

In [16]:
train_data.isna().sum()

HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
dtype: int64

In [17]:
train_data = train_data.fillna(train_data.mean())
train_data.isna().sum()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

HomePlanet      201
CryoSleep         0
Cabin           199
Destination     182
Age               0
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Transported       0
dtype: int64

In [18]:
train_data['Cabin'] = train_data['Cabin'].fillna(train_data['Cabin'].mode()[0])
train_data['Destination'] = train_data['Destination'].fillna(train_data['Destination'].mode()[0])
train_data['HomePlanet'] = train_data['HomePlanet'].fillna(train_data['HomePlanet'].mode()[0])
train_data.isna().sum()

HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
dtype: int64

In [19]:
train_data.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
PassengerId,,,,,,,,,,,,
0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [20]:
del train_data['ShoppingMall']
del train_data['FoodCourt']
del train_data['Cabin']
del train_data['HomePlanet']
del train_data['Destination']
train_data.shape

(8693, 7)

In [22]:
train_data = pd.get_dummies(train_data)
train_data.shape

(8693, 11)

In [23]:
train_data.head()

,Age,RoomService,Spa,VRDeck,Transported,CryoSleep_False,CryoSleep_0.35830580462482303,CryoSleep_True,VIP_False,VIP_0.023439340400471142,VIP_True
PassengerId,,,,,,,,,,,
0001_01,39.0,0.0,0.0,0.0,False,1,0,0,1,0,0
0002_01,24.0,109.0,549.0,44.0,True,1,0,0,1,0,0
0003_01,58.0,43.0,6715.0,49.0,False,1,0,0,0,0,1
0003_02,33.0,0.0,3329.0,193.0,False,1,0,0,1,0,0
0004_01,16.0,303.0,565.0,2.0,True,1,0,0,1,0,0

In [24]:
del train_data['CryoSleep_0.35830580462482303']
del train_data['VIP_0.023439340400471142']
train_data.head()

,Age,RoomService,Spa,VRDeck,Transported,CryoSleep_False,CryoSleep_True,VIP_False,VIP_True
PassengerId,,,,,,,,,
0001_01,39.0,0.0,0.0,0.0,False,1,0,1,0
0002_01,24.0,109.0,549.0,44.0,True,1,0,1,0
0003_01,58.0,43.0,6715.0,49.0,False,1,0,0,1
0003_02,33.0,0.0,3329.0,193.0,False,1,0,1,0
0004_01,16.0,303.0,565.0,2.0,True,1,0,1,0

In [25]:
x = train_data.loc[:, train_data.columns != 'Transported']
x.head()

,Age,RoomService,Spa,VRDeck,CryoSleep_False,CryoSleep_True,VIP_False,VIP_True
PassengerId,,,,,,,,
0001_01,39.0,0.0,0.0,0.0,1,0,1,0
0002_01,24.0,109.0,549.0,44.0,1,0,1,0
0003_01,58.0,43.0,6715.0,49.0,1,0,0,1
0003_02,33.0,0.0,3329.0,193.0,1,0,1,0
0004_01,16.0,303.0,565.0,2.0,1,0,1,0

In [26]:
y = train_data['Transported']
y.head()

PassengerId
0001_01    False
0002_01     True
0003_01    False
0003_02    False
0004_01     True
Name: Transported, dtype: bool

In [27]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(x,y)

/opt/conda/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [29]:
from sklearn.metrics import precision_score,recall_score
y_pred = clf.predict(x)
precision_score(y,y_pred)

0.7645111454425072

In [31]:
test_data = pd.read_csv('/kaggle/input/spaceship-titanic/test.csv', index_col='PassengerId')
del test_data['Name']
del test_data['ShoppingMall']
del test_data['FoodCourt']
del test_data['Cabin']
del test_data['HomePlanet']
del test_data['Destination']
test_data.head()

            CryoSleep   Age    VIP  RoomService     Spa  VRDeck
PassengerId
0013_01          True  27.0  False          0.0     0.0     0.0
0018_01         False  19.0  False          0.0  2823.0     0.0
0019_01          True  31.0  False          0.0     0.0     0.0
0021_01         False  38.0  False          0.0   181.0   585.0
0023_01         False  20.0  False         10.0     0.0     0.0

In [32]:
test_data = pd.get_dummies(test_data)
test_data.head()

,Age,RoomService,Spa,VRDeck,CryoSleep_False,CryoSleep_True,VIP_False,VIP_True
PassengerId,,,,,,,,
0013_01,27.0,0.0,0.0,0.0,0,1,1,0
0018_01,19.0,0.0,2823.0,0.0,1,0,1,0
0019_01,31.0,0.0,0.0,0.0,0,1,1,0
0021_01,38.0,0.0,181.0,585.0,1,0,1,0
0023_01,20.0,10.0,0.0,0.0,1,0,1,0

In [33]:
test_data.isnull().sum()

Age                 91
RoomService         82
Spa                101
VRDeck              80
CryoSleep_False      0
CryoSleep_True       0
VIP_False            0
VIP_True             0
dtype: int64

In [34]:
test_data = test_data.fillna(test_data.mean())
test_data.isna().sum()

Age                0
RoomService        0
Spa                0
VRDeck             0
CryoSleep_False    0
CryoSleep_True     0
VIP_False          0
VIP_True           0
dtype: int64

In [35]:
predict = clf.predict(test_data)

In [37]:
output = pd.DataFrame(columns=['PassengerId', 'Transported'])
output['PassengerId'] = test_data.index
output['Transported'] = predict
output.to_csv('submission.csv', index=False)
print('Submission succesful!')

Submission succesful!